* {
  box-sizing: border-box;
}
/*ヘッダー*/
.header{
  height: 60px;
  width: 100%;
  background-color: #b22222;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-logo  {
  font-size: 25px;
  float: left;
  color: #2e8b57;
  padding: 10px 100px;
}

li  {
  list-style: none;
  float: left;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 35px; 
}
/*メイン*/
h1  {
  font-size: 35px;
  padding: 30px 350px;
  color: ;
  border: 10px outset  #b22222;
}

.explanation{
  font-size: 25px;
  width: 1000px;
  margin: 0 auto;
}

/*フッター*/
.footer-logo  {
  font-size:  25px;
  background-color: #b22222;
  height: 60px;
  padding: 10px 500px;
}
